Source: etalon-250613
Section: unknown
Priority: optional
Maintainer: vlinnik <vlinnik@mail.ru>
Rules-Requires-Root: no
Build-Depends:
 debhelper-compat (= 13),
 dh-sequence-python3,
 python3-setuptools,
 python3-all,
#Testsuite: autopkgtest-pkg-python
Standards-Version: 4.6.2
Homepage: <insert the upstream URL, if relevant>
#Vcs-Browser: https://salsa.debian.org/debian/etalon-250613
#Vcs-Git: https://salsa.debian.org/debian/etalon-250613.git

Package: python3-etalon-250613
Architecture: all
Multi-Arch: foreign
Depends:
 ${python3:Depends},
 ${misc:Depends},
Suggests:
 python-etalon-250613-doc,
Description: <insert up to 60 chars description> (Python 3)
 <Insert long description, indented with spaces.>
 .
 This package installs the library for Python 3.

Package: python-etalon-250613-doc
Section: doc
Architecture: all
Multi-Arch: foreign
Depends:
 ${sphinxdoc:Depends},
 ${misc:Depends},
Description: <insert up to 60 chars description> (common documentation)
 <Insert long description, indented with spaces.>
 .
 This is the common documentation package.
